<a href="https://colab.research.google.com/github/sig6774/Coding_Test/blob/main/coding_test_0123.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 위에서 아래로 
- 하나의 수열에 다양한 수가 존재하며 크기에 상관없이 나열 
- 큰 수부터 작은 수의 순서로 정렬 
- 내림차순으로 정렬하는 프로그램 만드시오

In [11]:
n = int(input())

array = [] 
for i in range(n):
  array.append(int(input()))

5
3
15
27
12
8

In [15]:
for i in range(len(array)):
  min_index = i
  for j in range(i+1, len(array)):
    if array[min_index] < array[j]:
      min_index = j
  
  array[i], array[min_index] = array[min_index], array[i]
print(array)

[27, 15, 12, 8, 3]

In [16]:
n = int(input())

array = [] 
for i in range(n):
  array.append(int(input()))

5
3
15
27
12
8

In [17]:
sort_array = sorted(array, reverse = True)
for i in sort_array:
  print(i, end = ' ')

27 15 12 8 3

#### 성적이 낮은 순서로 학생 출력 
- 학생 정보는 학생의 이름과 학생의 성적으로 구분 
- 학생의 이름과 성적 정보가 주어졌을 때 성적이 낮은 순서대로 학생의 이름을 출력하는 프로그램 작성

In [20]:
n = int(input())

array = [] 
for i in range(n):
  input_data = input().split()
  array.append((input_data[0], int(input_data[1])))

2
홍길동 95
이순신 77

In [25]:
array[1]

('이순신', 77)

In [30]:
sort_array = sorted(array, key = lambda student : student[1])
for i in sort_array:
  print(i, end = ' ')

('이순신', 77) ('홍길동', 95)

#### 두 배열의 원소 교체 
- 두개의 배열 A와 B가 있으며 N개의 원소로 구성되어 있다.
- 최대 K번의 바꿔치기 연산을 수행할 수 있는데 바꿔치기 연산은 배열 A에 있는 원소 하나와 배열 B에 있는 원소 하나를 골라서 두 원소를 서로 바꾸는 것을 말한다. 
- 최종 목표는 배열 A의 모든 원소의 합이 최대가 되도록 하는 것이다

In [36]:
n, k = map(int, input().split())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

5 3
1 2 5 4 3
5 5 6 6 5

In [37]:
# key : a의 최소값을 b의 최대값이랑 k번 바꿔주면 최대값이 될 듯 
a.sort()
b.sort(reverse = True)

In [38]:
print(a)
print(b)

[1, 2, 3, 4, 5]
[6, 6, 5, 5, 5]

In [42]:
for i in range(k):
  if a[i] < b[i]:
    a[i], b[i] = b[i], a[i]
  else:
    break
  
print(a)
print(b)
print(sum(a))

[6, 6, 5, 4, 5]
[1, 2, 3, 5, 5]
26