String

In [2]:
# 문자열 안에 작은 따옴표나 큰 따옴표를 포함 
print("Python's favorite food is perl")

print('"Python is very easy." he says.')

Python's favorite food is perl
"Python is very easy." he says.

In [7]:
# 여러 줄인 문자열을 변수에 대입 
m = 'thonLife is too short\nYou need Python'
print(m)
# \n을 사용 

# 연속된 작은 따옴표 3개 또는 큰 따옴표 3개 사용 
m = """
Life is too short 
You need python
"""
print(m)

# '''''', """""" 사용

thonLife is too short
You need Python

Life is too short
You need python

문자열 연산

In [10]:
head = 'Python'
tail = ' is fun!'
print(head + tail)

# 파이썬은 문자열끼리는 연산이 가능하다

Python is fun!

In [12]:
a = 'python'
print(a * 3)

# 응용
print('=' * 30)
print('My Program')
print('=' * 30)

pythonpythonpython
==============================
My Program
==============================

In [13]:
# 문자열 길이 
a = 'Life is too short'
print(len(a))

17

문자열 인덱싱과 슬라이싱

In [14]:
a = 'Life is too short, You need Python'

In [17]:
# 문자열 인덱싱 0부터 시작함 

print(a[3])
print(a[-0])

e
L

In [20]:
b = a[0] + a[1] + a[2] + a[3]
print(b)
# 인덱싱으로 Life 불러오기 

print(a[0:4])
# 슬라이싱을 활용하여 간단하게 Life 불러오기

Life
Life

In [22]:
a = '20010331Rainy'
date = a[:8]
weather = a[8:]

print(date)
print(weather)

20010331
Rainy

In [23]:
year = a[:4]

print(year)

2001

문자열 포맷팅 
1. 문자열 안의 특정 값을 바꿔야할 경우 사용 
2. 참고 
    - %s : 문자열 
    - %c : 문자 1개 
    - %d : 정수 
    - %f : 부동소수 
    - %o : 8진수 
    - %x : 16진수

In [25]:
print('I eat %d apples.' % 3)
# %를 사용해서 특정값만 바꿔줄 수 있다.

I eat 3 apples.

In [26]:
print('I eat %s apples.' % 'five')

# %d는 정수 %s는 문자열

I eat five apples.

In [27]:
n = 5 
print('I eat %d apples.' % n)

I eat 5 apples.

In [28]:
n = 10 
d = 'Three'

print('I ate %d apples. so I was sick for %s days.' % (n, d))

I ate 10 apples. so I was sick for Three days.

In [31]:
print('Error is %d%%.' % 98)
# 문자열로 %를 사용하고 싶을때는 %%를 사용

Error is 98%.

In [32]:
print('%0.4f' % 3.42134234)
# 소수점 4번째자리까지 표시하고 싶을때

3.4213

format 함수를 사용한 포맷팅

In [33]:
print('I eat {0} apples'.format(3))

I eat 3 apples

In [34]:
print('I eat {0} apples'.format('five'))

I eat five apples

In [35]:
n = 10
d = 'three'

print('I ate {0} apples. so I was sick for {1} days.'.format(n, d))

I ate 10 apples. so I was sick for three days.

In [36]:
print('I ate {0} apples. so I was sick for {day} days.'.format(10, day = 3))
# 인덱스와 이름 혼용 사용

I ate 10 apples. so I was sick for 3 days.

In [37]:
y = 3.4212341234
print('{0:0.4f}'.format(y))

3.4212

문자열 관련 함수

In [40]:
a = 'hobby'
print(a.count('b'))
# 관련 문자의 개수를 출력

2

In [41]:
a = 'Python is the best choice'
print(a.find('b'))
print(a.find('k'))
# 몇번째 자리에 존재하는지 파악 
# 해당 문자가 없으면 -1을 출력

14
-1

In [43]:
a = 'Life is too short'
a.index('t')

8

In [45]:
print(','.join('abcd'))
# 문자열 삽입

a,b,c,d

In [46]:
a = 'hi'
a.upper()
# 대문자 변환

'HI'

In [47]:
a = "HI"
a.lower()
# 소문자 변환

'hi'

In [51]:
a = ' hi '
print(a.lstrip())
print(a.rstrip())
# 공백 제거

hi
 hi

In [52]:
a = 'Life is too short'
a.replace('Life', 'Your leg')
# 특정 문자열 대체

'Your leg is too short'

In [53]:
a = 'Life is too short'
a.split()
# 문자열 분리

['Life', 'is', 'too', 'short']